body{margin:0;
font-family: "Roboto-Light";}
.container {
	 
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.banner {
	
    width: 100%;
    height: 365px;
    background: linear-gradient(#2d4368, #2d4268, #385066, #415c63, #4b6a61, #537256, #557553, #58784e, #5a7a4b, #5c7c47);
  
    text-align: center
}

.underline::after {
    content: "";
    display: block;
    width: 140px;
    height: 3px;
    background-color: #edb730;
    text-align: center;
    margin: 25px auto 40px;


}

h2 {
    color: #fff;
    font-size: 35px;
    padding-top: 60px;
    font-weight: bold
}

.banner-select {
    width: 95%;
    height: auto;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    margin: 60px auto;
    background-color: rgba(212, 210, 210, 0.14);
    padding: 20px 30px
}

select {
    width: 260px;
    height: 44px;
    font-size: 16px;
    color: #666;
    border: 1px solid #efe9e9;
    border-radius: 3px;
    margin: 9px;
    text-align: left;
    padding: 1px 8px;
  cursor:pointer
}

input[type="text"] {
    width: 260px;
    height: 37px;
    color: #343030;
    border-radius: 3px;
    margin: 9px;
    padding: 2px 7px;
    border: 1px solid #efe9e9;


}

input[type="text"]::placeholder {
    padding: 3px 10px;
    font-size: 16px;
    color: #999
}

input[type="submit"] {
    width: 16%;
    padding: 12px 15px;
    background-color: #2f4a93;
    color: #FFF;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.34);
    font-size: 16px;
    font-weight: 300;
    font-family: Arial;
    text-align: center;
    color: #fff;
    transition: 0.5s all ease-in-out;
    margin: 12px;
    cursor:pointer

      
}

input[type="submit"]:hover {
    color: #2f4a93;
    background-color: #FFF;
    border: 1px solid #2f4a93
}
#middle .container{
	padding-bottom:15;
	 border-bottom:1px solid #eee;
}
p{
	font-family: 'Roboto', sans-serif;
  
	margin: 35 0 10px;
	
}
.title{
	font-family: 'Roboto';
	font-size:25;
	color: #2f4993;
		margin: 60 110 10px;

}	
 
 
#block-one img {
    
     width: 6%;
    height: 8%;
	margin: 15 120 10px;
}
a{
	   text-decoration: none;
	  
}
#block-one .pa{
	font-size:20;
	color: #2f4993;
	font-family: "Roboto";
	margin: -55 220 10px;
 
	
}
#block-one .pa-section{
	font-size:15;
	 color: black;
	font-family: "Roboto";
	margin: -10 220 10px;
 
	
}
#block-two img {
    
     width: 6%;
    height: 8%;
	margin:-100 550 10px;
}
#block-two .pa{
	font-size:20;
	color: #2f4993;
	font-family: "Roboto";
	margin: -100 650 10px;
	 
 
	
}
#block-two .pa-section{
	font-size:15;
	 color: black;
	font-family: "Roboto";
	margin: -5 660 10px;
	}
	
	
	#block-three img {
    
     width: 6%;
    height: 8%;
	margin:-90 850 10px;
}
#block-three .pa{
	font-size:20;
	color: #2f4993;
	font-family: "Roboto";
	margin: -90 950 10px;
 
 
	
}
#block-three .pa-section{
	font-size:15;
	 color: black;
	font-family: "Roboto";
	margin: -5 950 10px;
	 
 
	
}
#block-four img {
    
     width: 6%;
    height: 8%;
	margin: 50 120 10px;
}
#block-four .pa{
	font-size:20;
	color: #2f4993;
	font-family: "Roboto";
	margin: -70 220 10px;
 
 
	
}
#block-four .pa-section{
	font-size:15;
	 color: black;
	font-family: "Roboto";
	margin: 0 220 10px;
	 
 
	
}
.more{
	   text-decoration: none;
	   font-size:20;
	   color: #2f4a91;
	  margin: 0 460 10px;
}
.more:hover{
	 
	color: #ff9933; 
}
.more-two{
	   text-decoration: none;
	   font-size:20;
	   color: #2f4a91;
	  margin:-70 770 5px;
}
.more-two:hover{
	 
	color: #ff9933; 
}
.more-three{
	   text-decoration: none;
	   font-size:20;
	   color: #2f4a91;
	 margin:-70 1100 5px;
}
.more-three:hover{
	 
	color: #ff9933; 
}
.more-four{
	   text-decoration: none;
	   font-size:20;
	   color: #2f4a91;
	margin: 0 460 10px;
}
.more-four:hover{
	 
	color: #ff9933; 
}